<div class="container m-5 mx-auto">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
        <div class="col">
            <div class="card mt-3 mb-3 h-100" >
                <img src="Athletisme.jpg" class="card-img-top" alt="Athlétisme">
                <div class="card-body d-flex flex-column ">
                    <h5 class="card-title">Athlétisme</h5>
                    <p class="card-text">Le programme complet des Jeux olympiques de Paris 2024.</p>
                    <a href="https://stadion-actu.fr/athletisme-le-programme-complet-des-jeux-olympiques-de-paris-2024/" target="_blank" class="mt-auto">Lire la suite...</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3 mb-3 h-100 " >
                <img src="equitation.jpg" class="card-img-top" alt="Équitation">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Équitation</h5>
                    <p class="card-text">JO 2024 : les épreuves d'équitation auront bien lieu à Versailles.</p>
                    <a href="https://actu.fr/ile-de-france/versailles_78646/yvelines-jo-lequitation-se-fera-bien-versailles-20222953.html" target="_blank" class="mt-auto">Lire la suite...</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3 mb-3 h-100 " >
                <img src="escrime.jpeg" class="card-img-top" alt="Escrime">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Escrime</h5>
                    <p class="card-text">Les meilleurs escrimeurs du monde ont rendez-vous au Grand Palais.</p>
                    <a href="https://www.20minutes.fr/sport/jo/4085137-20240405-jo-paris-2024-programme-complet-epreuves-escrime" target="_blank" class="mt-auto">Lire la suite...</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3 mb-3 h-100 " >
                <img src="breakdance.jpg" class="card-img-top" alt="Escrime">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Breakdance</h5>
                    <p class="card-text">JO 2024 : quelles seront les disciplines méconnues à découvrir à Paris ?</p>
                    <a href="https://www.rtl.fr/sport/autres-sports/jo-2024-quelles-seront-les-disciplines-meconnues-a-decouvrir-a-paris-7900173334" target="_blank" class="mt-auto">Lire la suite...</a>
                </div>
            </div>
        </div>
    </div>
</div>
