<div class="container mt-5">
    <h2>Paris 2024 : Une Célébration de l'Excellence et de l'Innovation Olympique</h2>
        <p class = '' >Les Jeux Olympiques de 2024, qui se tiendront à Paris, promettent d'être un événement sportif mondial inoubliable. Pour la première fois depuis 1924, la capitale française accueillera de nouveau les JO, marquant ainsi le centenaire des Jeux à Paris. Plus de 10 000 athlètes de 206 nations sont attendus pour concourir dans 32 sports différents, avec l'ajout de nouvelles disciplines comme le breakdance, qui apportera une touche de modernité et d'innovation.
            <br><br>
            Paris 2024 mettra en avant des valeurs de durabilité et d'inclusion, avec des infrastructures conçues pour minimiser l'empreinte carbone et favoriser l'accessibilité. Les sites emblématiques comme le Stade de France, la Tour Eiffel et le Grand Palais serviront de cadre à ces compétitions, offrant un décor spectaculaire pour les athlètes et les spectateurs.
            <br><br>
            L'organisation des Jeux vise également à laisser un héritage positif pour la ville et ses habitants, avec des projets d'aménagement urbain et des initiatives sociales. Les JO 2024 seront une célébration de l'excellence sportive, de la diversité culturelle et de l'esprit olympique, rassemblant le monde entier autour des valeurs de l'amitié, du respect et de l'excellence.
        </p>
</div>

