

<div class="container-fluid g-0">
    <div class="image-container">
        <img src="cover.jpg" class="img-fluid w-100" alt="Image de paris">
        <div class="image-text p-3">
            <h1 class = 'display-5'>Jeux Olympiques de Paris 2024</h1>
            <h2 class = 'display-5'> Billeterie Officielle</h2>
            <a class = 'lien-color'  routerLink="/offers" role="link"  >
                <h3 class = 'lead'> Voir nos offres de billets</h3>
            </a>
        </div>
    </div>
</div>


